<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>华硕订单记录维护</title>
		<link rel="stylesheet" href="../bootstrap-3.4.1/css/bootstrap.min.css">
		<script src="../js/jquery-3.6.0.min.js"></script>
		<script src="../bootstrap-3.4.1/js/bootstrap.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/vue-resource.min.js"></script>
		<script src="../js/rootPath.js"></script>
		<script src="../js/order.js"></script>
		<link rel="stylesheet" href="../css/order.css">
	</head>
	<body>
		<!-- http://localhost:8080/html/order.html -->
		<h3>华硕订单记录管理系统</h3>
		
		<div style="height:100px"></div>
		<p class="p1">订单记录维护</p>
		<div class="col-xs-2"></div>
		<div class="panel panel-default col-xs-8" id="app">
			<div class="panel-body">
				<p class="p2">华硕订单:增</p>
				<p >{{ message }}</p>
				<br>
				<form class="bs-example bs-example-form" role="form" id="login" name="login"> 
					<div class="input-group">
						<span class="input-group-addon">订单账号:</span>
						<input type="text" class="form-control" name="accountc" v-model="accountc">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">订单键值:</span>
						<input type="text" class="form-control" name="key" v-model="key">
					</div>
					<br>
					<span class="col-xs-10"></span>
					<button type="button" class="btn btn-primary col-xs-2" v-on:click="login">提交</button>
					
					
					<br><br><br><br><br>
					
					
					<p class="p2">华硕订单:删</p>
					<p >{{ message2 }}</p>
					<br>
					<div class="input-group">
						<span class="input-group-addon">订单ID:</span>
						<input type="text" class="form-control" name="id" v-model="id">
					</div>
					<br>
					<span class="col-xs-10"></span>
					<button type="button" class="btn btn-primary col-xs-2" v-on:click="login2">删除</button>
					
					
					<br><br><br><br><br>
					
					
					<p class="p2">华硕订单:改</p>
					<p >{{ message3 }}</p>
					<br>
					<div class="input-group">
						<span class="input-group-addon">订单账号:</span>
						<input type="text" class="form-control" name="accountc2" v-model="accountc2">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">订单键值:</span>
						<input type="text" class="form-control" name="key2" v-model="key2">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">订单ID:</span>
						<input type="text" class="form-control" name="id2" v-model="id2">
					</div>
					<br>
					<span class="col-xs-10"></span>
					<button type="button" class="btn btn-primary col-xs-2" v-on:click="login3">修改</button>
					
					
					<br><br><br><br><br>
					
					<p class="p2">华硕订单:查</p>
					<br>
					<span class="col-xs-10"></span>
					<button type="button" class="btn btn-info col-xs-2" v-on:click="regis">订单查询</button>
				</form>
			</div>
			<br><br><br><br><br>
			<div class="col-md-13">
				<p class="p3">我是有底线的</p>
			<div>
		</div>
	</body>
</html>
