		/* 表头 */
		.in{
			width: 1300px;
			
			height: 30px;
			
			/* div元素居中 */
			margin: auto;
			 /* 表格居中 */
			text-align: center;
			
			border: 1px  solid gray;
			
			/*商品 div 每次循环的间距 */
			margin-top: 30px;
						
		}
		.td0,.td1{
			font-size: 15px;
			
			color: #ff0000;
		}
		/* 商品信息 */
		.info{
			 width: 1300px;
			 
			 height: 125px;
			 
			 /* div元素居中 */
			 margin: auto;
			  /* 表格居中 */
			 text-align: center;
			 
			 background-color: #fff4e8;
			 
			 border: 1px  solid gray;
			 
			 /*商品 div 每次循环的间距 */
			 margin-top: 30px;
			
		}
		
		tr.demo {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  width: 1300px;
		  
		  height: 125px;
		  
		}
		.info_0{
			font-size: 10px;
			
			color: #00ff00;
		}
		.info_3{
			font-size: 15px;
			
			color: #ff007f;
			 word-break: break-all;
		}
		/* 尾部 */
		.col-md-13{
			border: 1px solid #00ff00;
			text-align:center;
		}
		.p2{
			color:#00ff00;
			font-size:15px;
		}